services:
  app-service:
    image: ghcr.io/doda25-team15/app:v1.2.0
    container_name: app-service
    restart: unless-stopped
    ports:
      - "${APP_PORT}:${APP_PORT}"
    environment:
      MODEL_SERVICE_URL: "http://model-service:${MODEL_SERVICE_PORT}"
      PORT: ${APP_PORT}
    depends_on:
      - model-service

  model-service:
    image: ghcr.io/doda25-team15/model-service:v1.0.2
    container_name: model-service
    restart: unless-stopped
    expose:
      - ${MODEL_SERVICE_PORT}
    environment:
      PORT: ${MODEL_SERVICE_PORT}
    volumes:
      - "./model:/app/output"
