replicaCount:
    app: 2
    model: 2

labels:
    app:
        name: app
        component: app
        app: sms-checker
        team: doda25-team15
    model:
        name: model-service
        app: model-service

image:
    app:
        repository: ghcr.io/doda25-team15/app
        tag: v1.0.7
        pullPolicy: IfNotPresent
    model:
        repository: ghcr.io/doda25-team15/model-service
        tag: v1.0.2
        pullPolicy: IfNotPresent

service:
    type: ClusterIP
    app:
        name: app-service
        port: 8080
        targetPort: 8080
    model:
        name: model-service
        port: 8081
        targetPort: 8081

ingress:
    enabled: true
    name: ingress
    className: nginx
    host: sms-checker-app

volume:
    name: volume-cache
    hostPath: /mnt/shared/output

volumeMounts:
    name: volume-cache
    mountPath: /output

configMap:
  name: env-config-map

secret:
  name: secret
  smtpUser: "user"
  smtpPass: "password"

monitoring:
  prometheus:
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          team: doda25-team15

  grafana:
    enabled: true         