replicaCount:
    app: 2
    model: 2

labels:
    app:
        name: app
        component: app
        app: sms-checker
        team: doda25-team15
    model:
        name: model-service
        app: model-service

image:
    app:
        repository: ghcr.io/doda25-team15/app
        tag: v1.2.0
        canarytag: v1.2.1
        pullPolicy: IfNotPresent
    model:
        repository: ghcr.io/doda25-team15/model-service
        tag: v1.0.2
        pullPolicy: IfNotPresent

service:
    type: ClusterIP
    app:
        name: app-service
        port: 8080
        targetPort: 8080
    model:
        name: model-service
        port: 8081
        targetPort: 8081

ingress:
    enabled: true
    name: ingress
    className: nginx
    host: sms-checker-app

volume:
  stable:
    name: volume-cache-stable
    hostPath: /mnt/shared/output
  canary:
    name: volume-cache-canary
    hostPath: /mnt/shared/output-canary

volumeMounts:
    stable:
      name: volume-cache-stable
      mountPath: /app/output
    canary:
      name: volume-cache-canary
      mountPath: /app/output

configMap:
  name: env-config-map

secret:
  name: slack-workflow
  slackWorkflowUrl: ""


monitoring:
  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
      ruleSelector: {}
      ruleNamespaceSelector: {}
    service:
      sessionAffinity: None

  alertmanager:
    service:
      sessionAffinity: None

  coreDns:
    enabled: false
  kubeEtcd:
    enabled: false
  kubeControllerManager:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false

  grafana:
    enabled: true
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        searchNamespace: ALL

istio:
  gateway:
    name: sms-checker-gateway
    ingressGatewaySelector: ingressgateway

trafficManagement:
  weights:
    stable: 90
    canary: 10
  stickySessions:
    enabled: true
    cookieName: user-session
    ttl: 3600s
  faultInjection:
    enabled: false # To enable the delay for canary model service (for testing purposes)
    delay: 2s

shadow:
  enabled: true
  name: model-shadow
  replicas: 1
  image:
    repository: ghcr.io/doda25-team15/model-service
    tag: v1.0.2
    pullPolicy: IfNotPresent
  volume:
    enabled: true
    hostPath: /mnt/shared/output-shadow
  mirrorPercentage: 100
