apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: sms-checker-alerts
  namespace: default
  labels:
    release: sms-checker
spec:
  groups:
  - name: sms-checker.rules
    rules:
    - alert: HighSmsRequestSpike
      expr: rate(sms_requests_total[1m]) * 60 > 15
    # - alert: HighSmsRequestSpike
    #   expr: sum(rate(sms_requests_total{endpoint="http", job="app-service"}[1m])) * 60 > 15
    #   labels:
    #     severity: critical
    # - alert: TestSlack
    #   expr: vector(1)
    #   labels:
    #     severity: critical
    #   annotations:
    #     summary: "Test Slack notification"
    #     description: "This is a test message"
